.phone {
  // 顶部
  .head {
    display: flex;
    height: 56rem;
    align-items: center;
    justify-content: space-between;
    background: #000;
    padding: 0 20rem;

    div:nth-child(1) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 26rem;
      height: 26rem;
      background: rgb(255, 255, 255);
      border-radius: 50%;
      cursor: pointer;

      img {
        width: 21.27rem;
        height: 16rem;
        object-fit: cover;
        display: table-cell;
      }
    }

    div:nth-child(2) {
      width: 18rem;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  // 顶部大图
  .top-img {
    display: flex;
    align-items: center;
    width: 100%;
    height: 196rem;
    background-color: #c7c7c7;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // 中间盒子
  .content {
    width: 90%;
    margin: 0 auto;
  }

  // 大标题
  .headline {
    margin-top: 56rem;
    height: 32rem;
    font-size: 24rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.9);
    line-height: 32rem;
  }

  // 小标题
  .subtitle {
    margin-top: 42rem;
    height: 32rem;
    font-size: 20rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.9);
    line-height: 32rem;

  }

  // 文本内容
  .text-content {
    margin-top: 24rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
    line-height: 25rem;
    word-wrap: break-word;
    font-size: 16rem;
  }

  // 大图
  .image {
    margin-top: 24rem;
    background: #f4f3f2;
    display: flex;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // 大图文字
  .text-sign {
    margin-top: 8rem;
    height: 19rem;
    font-size: 14rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    line-height: 19rem;
  }

  // 两张图片
  .tow-img {
    margin-top: 24rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    div:nth-child(1) {
      width: 40vw;
      color: rgba(0, 0, 0, 0.6);
      background: #f4f3f2;
    }

    div:nth-child(2) {
      width: 40vw;
      color: rgba(0, 0, 0, 0.6);
      background: #f4f3f2;
    }
  }

  // 两个文本
  .font {
    padding-top: 8rem;
    background: white;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14rem;
  }

  // 底部
  .foot {
    height: 56rem;
    width: 100%;
    background: #1a1a1a;
    line-height: 56rem;
    text-align: center;
    color: white;
    bottom: 0;
  }

  .pop-up {
    position: absolute;
    height: calc(100% + 110rem);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000000;
    opacity: 0.9;

    .text-resource {
      font-size: 16rem;
      height: 46rem;
      color: white;
      line-height: 46rem;
      margin-top: 25rem;
      margin-left: 29rem;
    }

    .text-resource:hover {
      color: #00b2e2;
    }
  }

  // 使用手册下载
  .standard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70rem 0;
    width: 171rem;
    font-size: 20rem;
    padding: 5rem 5rem 5rem 18rem;
    background: #f2f2f2;
    border-radius: 8rem 8rem 8rem 8rem;

    a {
      font-size: 20rem;
    }

    img {
      width: 6.84rem;
      height: 11.82rem;
      object-fit: cover;
      margin-top: 15rem;
      margin-left: 11rem;
    }
  }

  .standard:hover {
    color: #00b2e2;
  }

  // 下拉目录
  .pull-catalogue {
    cursor: pointer;
    height: 54rem;
    display: flex;
    line-height: 54rem;
    padding: 0 5vw;

    div:nth-child(1) {
      font-size: 16rem;
    }
  }

  .pull-catalogue:hover {
    color: #00b2e2;
  }

  .foot {
    height: 56rem;
    width: 100%;
    background: #1a1a1a;
    line-height: 56rem;
    text-align: center;
    color: white;
    bottom: 0;
    font-size: 10rem;
  }

  // 下拉目录内容
  .pop-out {
    width: 100%;
    position: absolute;
    height: 100%;
    top: 110rem;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(255, 255, 255);
    font-size: 16rem;

    div:hover {
      color: #00b2e2;
    }

    div {
      line-height: 54rem;
      padding-left: 5vw;
      background: rgb(255, 255, 255) !important;
    }
  }

  // 818子业务
  .resource {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 24rem auto 0;

    .outside-box {
      width: 40vw;
      margin: 8rem 0;

      div:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f4f3f2;
      }

      .text-tow {
        margin-top: 8rem;
        font-size: 14rem;
      }

      img {
        width: 100%;
      }

      .tow-one-img {
        background: #f4f3f2;
        height: 106rem;
      }

      .tow-one-text {
        margin-top: 8rem;
        color: rgba(0, 0, 0, 0.6);

      }
    }
  }

  // 使用指南
  .border-blue {
    font-size: 16rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24rem;
    padding: 5rem;
    width: 90rem;
    background: #f2f2f2;
    opacity: 1;
    text-align: center;
    border: 1rem solid #00b2e2;
  }

  .border-none {
    font-size: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24rem;
    padding: 5rem;
    width: 90rem;
    background: #f2f2f2;
    opacity: 1;
    text-align: center;
  }

  // 使用指南两个文本
  .fingerPost-text {
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-size: 14rem;

    div {
      width: 40vw;
    }
  }

  // 视频播放
  .videos {
    margin: 24rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .video {
      height: 100rem;
      width: 42vw;
      background: #f4f3f2;
    }

    .video-tow {
      height: 100rem;
      width: 42vw;
      background: #f4f3f2;
    }
  }

  // 合作伙伴
  .flex {
    display: flex;
    flex-wrap: wrap;

    .outside-img:nth-child(2n) {
      margin-right: 0;
    }

    .outside-img {
      margin-right: 2%;
      width: 49%;
      margin-top: 10rem;

      .outside-img-A {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 106rem;
        background: #f4f3f2;

        img {
          height: 60%;
          object-fit: cover;
        }
      }

      .outside-text {
        color: #000;
        width: 100%;
        height: 30rem;
        line-height: 30rem;
        font-size: 14rem;
      }
    }
  }

  // 合作伙伴中间盒子
  .partner-outside {
    width: 90%;
    margin: 0 auto;
    min-height: calc(100vh - 338rem);
  }
}
